.container-fluid{
    background: rgb(235, 235, 235);
    border: 1px none;
}

.Text{
    height: 50px;
}

.Text::placeholder{
    color: rgb(112, 108, 108);
}

/* .Card{
} */
.customBody {
    min-height: calc(100vh - 192px);
    height: calc(100% - 192px);
    display: grid;
}