.Box{
    border-bottom: 5px solid white;
    width: 100px;
    margin-left: 30px;
    position: relative;
    top: 7px;
    border-radius: 5px;
    /* position: relative;
    left: 30px; */
}
.Box:hover{
    border-color: turquoise;
    color: turquoise;
    cursor: pointer;
}
.icon{
    font-size: 35px;
    margin-left: 25px;

}

.icon:hover{
    color: turquoise;
    cursor: pointer;
}
.brandImage{
    width: 40px;
    height: 50px;
    border-radius: 50%;
}

.h3{
    margin-top: 100px;
}